

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

header h1 {
  padding-left:2em;
}

header nav {
  display: flex;
  flex-direction: row;
  padding-right: 2em;
  align-items: center;
}

header nav li {
  padding: 0 2em;
  font-size: 1.2em;
}

header nav li a {
  text-decoration: none;
}

ul {
  display: flex;
  flex-direction: row;
}

li {
  list-style: none;
}







.panel-image img{
  width: 300px;
  height: auto;
}
