body {
  margin: 0 auto;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

header h1 {
  padding-left:2em;
}

header nav {
  display: flex;
  flex-direction: row;
  padding-right: 2em;
  align-items: center;
}

header nav li {
  padding: 0 2em;
  font-size: 1.2em;
}

header nav li a {
  text-decoration: none;
}

ul {
  display: flex;
  flex-direction: row;
}

li {
  list-style: none;
}

.panel {
  display: flex;
  flex-direction: row;
  width: 60%;
  border: 2px solid black;
  border-radius: 10px;
  justify-content: space-between;
  align-items: center;
}

.panel-info {
  padding-left: 10px;
}

.panel h3 {
  margin: 0;
}

.panel-image {
  padding: 10px;
}

.panel-image img{
  width: 200px;
  height: auto;
}
