body {
  margin: 0 auto;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

header h1 {
  padding-left:5%;
}

header nav {
  display: flex;
  flex-direction: row;
  padding-right: 2em;
  align-items: center;
}

header nav li {
  padding: 0 2em;
  font-size: 1.2em;
}

header nav li a {
  text-decoration: none;
}

ul {
  display: flex;
  flex-direction: row;
}

li {
  list-style: none;
}

.content-head h2 {
  padding-left: 5%;
}
.panel {
  display: flex;
  flex-direction: row;
  width: 60%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2em;
}

.panel-border {
  border: 2px solid black;
  border-radius: 10px;
}

.panel-info {
  padding: 10px;

}

.panel-info p {
  padding-right: 5px;
}

.panel h3 {
  margin: 0;
}

.panel-image {
  padding: 10px;

}

.panel-image img{
  width: 200px;
  height: auto;
  border: 1px solid black;
  border-radius: 10px;
}

.bio-pic {
  width:150px;
  border-radius: 10px;
  border: 2px solid black;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

footer p {
  margin-left: 2em;
}

footer ul {
  margin-right: 2em;
}

footer li {
  padding: 0 1em;
}
